/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

/* Map div style*/
#map {
    position: absolute;
    top: 50px;
    right: 0;
    bottom: 0;
    left: 0;
}
.pac-container {
    z-index: 1051 !important;
}
.modeless{
    top:50px;
    width:25%;
    bottom:auto;
    right:auto;
}
/* Menu bar styles*/
.navbar-brand {
    margin: 0px;
    padding: 0px;
}


.navbar
{
    background-color: #500000;
    z-index:1000;
}

.navbar-default .navbar-nav > li > a {
    color: white;
}

#floating-panel {
    position: absolute;
    top: 30px;
    left: .5%;
    z-index: 5;
    background-color: transparent;
    text-align: left;
    line-height: 30px;
}

.pac-container:after {
    background-image: none !important;
    height: 0px;
}

#pathFinderDlg{
    vertical-align: 3.7em;
    left:0px;
    background-color: red
}

.pathFinderDlg{
    border: 1px solid black;
    background-color: white;
    height: 13em;
    width: 21em;
    border-radius: .5em;
    margin-left: 0.5em;
    margin-top: -1em;
}

#bike_route.btn-styles-cls,#walk_route.btn-styles-cls,#car_route.btn-styles-cls,#best_route.btn-styles-cls{
    border-radius: 0.5em;
    width: 4.58em;
    height: 2.5em;
    margin-left: 0.1em;
    text-align: center;
    vertical-align: middle;
    line-height: inherit;
    word-break: break-all;
}

#loginDlg{
    height: 20em;
    width: 20em;
}
#loginDlg{
    top:50px;
    width:10%;
    padding: inherit
}

#loginImg{
    position:relative;
    padding-left: 10%;
    height: auto;
    max-height: 100%
}

.loginStyle {
    height: 4em;
    text-align: center;
}

.style_image {
    margin-right: 15px;
    display: block;
}

body,html,#map{margin:0;padding:0;height:100%;width:100%;}
.panel {
    border-radius: 6px;
    box-shadow: 0px 6px 3px -3px #888;
    border: 2px solid #86942A;
    margin: 5px;
}
#search1 {
    padding-left:10px;
    padding-right:5px;
}
#search2 {
    padding-left:10px;
    padding-right:5px;
}
/*change the default css*/
.arcgisSearch .searchBtn {
    display:none;
}
.arcgisSearch .searchGroup .searchInput {
    border-right: 1px solid #57585A;
}
.Center {
    height:30px;
    width:70px;
    position: relative;
    left:40%;
}
#TimeTable {
    background-color: lightblue;
}
.hidden {
    display: none;
}
#TimeTableGrid {
    font-family: arial, sans-serif;
}
h4{
    text-align: center;
}
